<div class="row">
  <div class="col-md-3">
    <h3>Your Projects</h3>
    <project-list show-add="true" show-edit="true"></project-list>
    <h3>Your Datasets</h3>    
  </div>
  <div class="col-md-9">
  		
  			<h3>Import Data</h3>	  	
	  		<tabset>
			    <tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" disabled="tab.disabled">
			      
			    </tab>
			    <tab select="alertMe()">
			      <tab-heading>
			        <i class="glyphicon glyphicon-bell"></i> Alert!
			      </tab-heading>
			      I've got an HTML heading, and a select callback. Pretty cool!
			    </tab>
	  		</tabset>
  		
  </div>  
</div>
