<style>
.wijmo-wijtree{
	width: 100%;
}
</style>


<wij-menu checkable="true">
    <li><a>menuitem1</a>
        <ul>
           <li><a>menuitem1a</a></li>
           <li><a>menuitem2a</a></li>
        </ul>
    </li>
    <li><a>menuitem2</a></li>
    <li><a>menuitem3</a></li>
</wij-menu>

<div style="float: left; width: 30%">
 <wij-tree style="width: 100%" id="wijtree" nodes="nodes1">
</div>
<div style="float: right; width: 70%">
<wij-grid id="gridWithKitQuantity" data="list">
</wij-grid>
</div>
