<style>
.wijmo-wijtree{
/* 	width: 100%; */
}
#splitter {
   height: 100%; 
  width: 100%;
}

</style>


<wij-menu checkable="true">
    <li><a>menuitem1</a>
        <ul>
           <li><a>menuitem1a</a></li>
           <li><a>menuitem2a</a></li>
        </ul>
    </li>
    <li><a>menuitem2</a></li>
    <li><a>menuitem3</a></li>
</wij-menu>
<div>
<wij-splitter orientation="vertical" id="splitter">
	
	<panel1 id="panel1">
	 	<wij-tree style="width: 100%" id="wijtree" nodes="nodes1">
	</panel1>
	
	<panel2 id="panel2">
		<wij-grid id="gridWithKitQuantity" data="list"></wij-grid>	
	</panel2>
	
</wijsplitter>
</div>