@import "../../../../css/import.less";
//@import "/ngboostrap/vendor/bootstrap-3.3.1/less/variables.flatly.less";
//@import "../../../../vendor/bootstrap-3.3.1/less/variables.flatly.less";

#main-wrapper {
	&.sidemenuOn{
		margin-left: 205px;
		transition: margin .2s ease;
		@media (max-width: @screen-xs-max) {
			margin-left: -15px;
		}
		
		&.shrink{
			margin-left: 35px;
			transition: margin .2s ease;
			@media (max-width: @screen-xs-max) {
				margin-left: -15px;
			}
		}
	}

//	#sidemenu-container{		
//		&.sidemenuOn{
//			display: 220px; 			
//			&.shrink{				
//				width: 50px;
//			}
//		}
//	}
	
}