<div class="outermost-wrapper " ng-class="{'fixed-header': RootCtrl.isHeaderFixed(), 'fixed-footer': RootCtrl.isFooterFixed()}">

<main-menu></main-menu>

<aside ng-if="$state.current.data && $state.current.data.sidemenuUrl" id="sidemenu-container" ng-class="{shrink: RootCtrl.isSideMenuCollapse()}">	
		<div ng-include src="$state.current.data.sidemenuUrl"></div>
		<div class="aside-footer clearfix">
			
				<div ng-click='toggleSide()' toggle-sidemenu class="pull-right">
<!-- 					<span class='glyphicon glyphicon-list'></span> -->
					<i ng-class="{'fa fa-toggle-left': !RootCtrl.isSideMenuCollapse(), 'fa fa-toggle-right': RootCtrl.isSideMenuCollapse()}"></i>
				</div>
			
		</div>		
</aside>

<div class="row" id="main-wrapper" ng-class="{'sidemenuOn': RootCtrl.isSideMenu(), 'shrink': RootCtrl.isSideMenuCollapse()}">
	<div class="col-md-12" >	
		
		<ui-view></ui-view>
		
<!-- 		<div class="wrapper-config-menu" dropdown class="pull-right"> -->
<!-- 			<button type="button" class="btn dropdown-toggle" aria-haspopup="true" aria-expanded="false"> -->
<!-- 		  	<i class="fa fa-cog"></i> -->
<!-- 		  </button> -->
<!-- 		  <ul class="dropdown-menu pull-right" role="menu"> -->
<!-- 		  	<li><a ui-sref="{layout: undefined}">Default Layout</a></li> -->
<!--         <li><a ui-sref="{layout: 'tree'}">Tree Layout</a></li> -->
<!--         <li><a ng-click="RootCtrl.hideLeft()">Hide Left</a></li> -->
<!--       </ul> -->
<!-- 		</div> -->
				
				
	</div>
</div>

<div class="row" id="main-footer" ng-class="{'sidemenuOn': RootCtrl.isSideMenu(), 'shrink': RootCtrl.isSideMenuCollapse()}">
<!-- 	<div class="col-md-12"> -->
		<nav class="navbar navbar-default">
			<div class="container-fluid">			
				<ul class="nav navbar-nav">
					<li><a>some link</a></li>
					<li><a>another link</a></li>
					<li><a>yal</a></li>
				</ul>
			</div>
		</nav>
<!-- 	</div> -->
</div>

</div>

<!-- <al-constraint -->
<!--     element="sidemenu-container" -->
<!--     attribute="height" -->
<!--     relation="equal" -->
<!--     to-element="main-wrapper" -->
<!--     to-attribute="height" -->
<!--     multiplier="1"     -->
<!--     priority="100"></al-constraint> -->
