

<main-menu></main-menu>

<div class="row" id="main-wrapper" ng-class="{'sidemenuOn': RootCtrl.isSideMenu(), 'shrink': RootCtrl.isShrink()}">
	<div class="col-md-12">	
		
		<ui-view/>
		
	</div>
</div>

<div class="row" id="main-footer" ng-class="{'sidemenuOn': RootCtrl.isSideMenu(), 'shrink': RootCtrl.isShrink()}">
<!-- 	<div class="col-md-12"> -->
		<nav class="navbar navbar-default">			
			<ul class="nav navbar-nav"><li><a>some link</a></li></ul>
		</nav>
<!-- 	</div> -->
</div>

<!-- <al-constraint -->
<!--     element="sidemenu-container" -->
<!--     attribute="height" -->
<!--     relation="equal" -->
<!--     to-element="main-wrapper" -->
<!--     to-attribute="height" -->
<!--     multiplier="1"     -->
<!--     priority="100"></al-constraint> -->